<template>
    <template if:true={show}>
        <div class="prompt-container">
            <section role="alertdialog" tabindex="0" aria-labelledby="prompt-heading-id"
                aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal_prompt"
                aria-modal="true">
                <div class="slds-modal__container">
                    <header class={headerClass}>
                        <h2 lwc:dom="manual" class="header-container slds-text-heading_medium" id="prompt-heading-id">
                        </h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="prompt-message-wrapper">
                        <p lwc:dom="manual" class="message-container"></p>
                    </div>
                    <footer class="slds-modal__footer slds-theme_default">
                        <template for:each={buttons} for:item="button">
                            <lightning-button label={button.label} variant={button.variant} data-id={button.name}
                                onclick={handleClick} class="slds-m-left_x-small" key={button.label}></lightning-button>
                        </template>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>